
source https://www.nuget.org/api/v2

storage:none

nuget FSharp.Core redirects:force

group Fable
    source https://www.nuget.org/api/v2
    storage:none
    nuget Fable.Core ~> 3 framework: netstandard2.0
    nuget Fable.Fetch

group Framework
    source https://www.nuget.org/api/v2
    storage:none
    framework: net46
    nuget Newtonsoft.Json >= 11.0.2 lowest_matching:true
    nuget Microsoft.AspNet.WebApi.Core ~> 5.2.3.0 
    nuget Microsoft.AspNet.WebApi.Client ~> 5.2.3.0 


